{% extends 'layout.html' %}
{% load static %}

{% block header %}
    <!おまじない2 charset=UFT-8とする>
    <meta http-equiv="Content-Type" content="text/html; charset=UFT-8" />
    <!HPの説明>
    <title>Marshmallow Lace </title>
    <meta name="Keywords" content="レース,タティング,python,django,趣味" />
    <meta name="Description" content="透き通るような時間を、あなたに。" />

{% endblock header %}

<!画像切り替えプログラムの読み込み>
<!basestart---------------------------------------------------------------------------------------->
{% block content %}
<div id="base">
    <div id="head">
        <h1>welcome to marshmallow</h1>
        <img src ="{% static 'img/logomark-2.JPG' %}" alt ="logomark" title ="marshmallow" > <img src="{% static 'img/logo-1.png' %}" alt="かわいいHTMLテンプレート no.001　ロゴ" id="logo" >

    </div>
    <div id="main">
         <div id="top_img"><img src="{% static 'img/mytop_1.jpg' %}" alt="no.001メインイメージ" /></div>
            <div id="content">
                 <h2>Marshmallow へようこそ<span>Welcome to Marshmallow </span></h2>
                 <h3>プロフィール<span>Plofile</span></h3>
                 <div class="box_out">
                     <div class="box_in">
                         <div class="img_left"><img src="{% static 'img/myicon.jpg' %}" alt="image" width="180" height="120" /></div>
                         <p>透き通るような、あたたかな時間を、あなたに。<br/>
                         紅茶と編み物を愛するmarshmallowの制作日記です。<br/>ご連絡はtweeterよりお願いします。</p>
                         <p>tweeter:@</p>
                     </div>
                 </div>

                 <div class="box02_left">
                    <h3>作品集<span>Tatting Lace</span></h3>
                    <div class="box_in">
                        <div class="img_right"><img src="{% static 'img/mywork.jpg' %}" alt="サンプルイメージ" width="100" height="100" /></div>
                        <p>タティングレースやかぎ針を主に行っています。</p>
                        <div class="btn_s"><a href="{% url 'myapp:blog' %}">リンク＞＞詳細はコチラ</a></div>
                        </div>
                    </div>
                <div class="box02_right">
                 <h3>紅茶とお菓子について<span>tea and sweets</span></h3>
                 <div class="box_in">
                    <div class="img_left"><img src="../static/img/teaandlace-1.jpg" alt="サンプルイメージ" width="100" height="100" /></div>
                    <p>自作したお菓子やおいしい紅茶などの情報をまとめています。</p>
                    <div class="btn_s"><a href= "{% url 'myapp:blog' %}">リンク＞＞詳細はコチラ</a></div>
                     </div>
                 </div>

                 <div class="box03_right">
                    <h3>新着情報<span>News</span></h3>
                        <div class="dl_list">
                            <dl>
                                <dt>2011.09.16</dt>
                                <dd><a href="#">○○ページを、更新しました。</a></dd>
                            </dl>
                            <dl>
                                <dt>2011.10.01</dt>
                                <dd><a href="#">最新メニューを追加しました。</a></dd>
                            </dl>
                            <dl>
                                <dt>2011.09.16</dt>
                                <dd><a href="#">○○ページを、更新しました。</a></dd>
                            </dl>
                            <dl>
                                <dt>2011.08.01</dt>
                                <dd><a href="#">最新メニューを追加しました。</a></dd>
                            </dl>
                             <dl>
                                 <dt>2011.07.16</dt>
                                <dd><a href="#">○○ページを、更新しました。</a></dd>
                             </dl>
                            <dl>
                                <dt>2011.06.01</dt>
                                <dd><a href="#">最新メニューを追加しました。</a></dd>
                            </dl>
                            <dl>
                                 <dt>2011.05.16</dt>
                                <dd><a href="#">○○ページを、更新しました。</a></dd>
                             </dl>
                            <dl>
                                 <dt>2011.05.01</dt>
                                <dd><a href="#">ホームページがリニューアルオープンしました。</a></dd>
                            </dl>
                                <div class="btn_s"><a href="#">＞＞新着情報一覧はコチラ</a></div>
                        </div>
                 </div>
            </div>
        </div>

        <!--side start-->
    <div id="side">
      <h3>SITE MENU</h3>
      <div class="side_box">
        <div class="side_inbox">
          <ul>
            <li><a href="index.html">トップページ<br />
              <span>HOME</span></a></li>
            <li><a href="menu.html">メニュー・料金<br />
              <span>Menu/Price</span></a></li>
            <li><a href="works.html">ギャラリー<br />
              <span>Gallery</span></a></li>
          </ul>
        </div>
        <div class="side_prbox">
<!--　削除禁止【ＰＲ枠】ここから　-->
<!--prno.130321ver2.01set017-->
Design by <a href="http://www.nc-mania.com/" target="_blank">nc-mania.com</a><br />
Template by <a href="http://www.s-hoshino.com/" target="_blank">s-hoshino.com</a>
<!--　/削除禁止【ＰＲ枠】ここまで　-->
        </div>
    </div>
    <!--/side end-->
  </div>
        </div>

{% endblock content %}