<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
{% load static %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UFT-8" />
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただいております。
絶対に削除しないでお使いください。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<title>Marshmallow Lace </title>
<meta name="Keywords" content="レース,タティング,python,django,趣味" />
<meta name="Description" content="暖かく、透き通るような時間を、あなたに。" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/scripts/rov.js"></script>
<script type="text/javascript" src="../static/scripts/to_top.js"></script>
</head>
<body onload="rollovers( '_df' , '_ov' );">
<!--base start-->
<div id="base">
  <!--head start-->
  <div id="head">
    <h1>かわいいHTMLテンプレート no.001</h1>
    <a href="{% url 'myapp:index' %}" title="Marshmallow　top"></a> <img src="../static/../static/img/logo.gif" alt="かわいいHTMLテンプレート no.001　ロゴ" id="logo" >
    <div id="info">ご予約・お問い合わせはお気軽にどうぞ<br />
      <span>Tel.</span><strong>0120-123-456</strong></div>
    <ul id="h_list">
      <li><a href="{% url 'myapp:contact' %}">ご予約・お問い合わせ</a></li>
      <li><a href="{% url 'myapp:recruit' %}">採用情報</a></li>
      <li><a href="{% url 'myapp:sitemap' %}">サイトマップ</a></li>
    </ul>
    <div id="navi">
      <ul>
        <li><strong>トップページ<br />
          <span>HOME</span></strong></li>
        <li><a href="{% url 'myapp:menu' %}" >メニュー・料金<br />
          <span>Menu/Price</span></a></li>
        <li><a href="{% url 'myapp:works' %}">ギャラリー<br />
          <span>Gallery</span></a></li>
        <li><a href="{% url 'myapp:staff' %}">スタッフのご紹介<br />
          <span>Staff</span></a></li>
        <li><a href="{% url 'myapp:shop' %}">店舗のご案内<br />
          <span>Information</span></a></li>
        <li><a href="{% url 'myapp:access' %}">アクセスマップ<br />
          <span>Access</span></a></li>
        <li><a href="{% url 'myapp:link' %}">リンク集<br />
          <span>Link</span></a></li>
      </ul>
    </div>
  </div>
  <!--/head end-->
  <!--main start-->
  <div id="main">
    <div id="top_img"><img src="../static/../static/img/mytop_1.jpg" alt="かわいいHTMLテンプレート no.001メインイメージ" /></div>
    <!--content start-->
    <div id="content">
      <h2>Marshmallow へようこそ<span>Welcome to Marshmallow </span></h2>
      <h3>プロフィール<span>Plofile</span></h3>
      <div class="box_out">
        <div class="box_in">
          <div class="img_left"><img src="../static/img/myicon.jpg" alt="サンプルイメージ" width="180" height="120" /></div>
          <p>透き通るような、あたたかな時間を、あなたに。<br/>
          紅茶と編み物を愛するmarshmallowの制作日記です。<br/>
            ご連絡はtweeterよりお願いします。</p>
          <p>tweeter:@</p>
        </div>
      </div>
      <div class="box02_left">
        <h3>作品集<span>Tatting Lace</span></h3>
        <div class="box_in">
          <div class="img_right"><img src="../static/img/mywork.jpg" alt="サンプルイメージ" width="100" height="100" /></div>
          <p>タティングレースやかぎ針を主に行っています。</p>
          <div class="btn_s"><a href="#">＞＞詳細はコチラ</a></div>
        </div>
        <h3>紅茶とお菓子について<span>programing</span></h3>
        <div class="box_in">
          <div class="img_left"><img src="../static/img/teaandlace-1.jpg" alt="サンプルイメージ" width="100" height="100" /></div>
          <p>自作したお菓子やおいしい紅茶などの情報をまとめています。</p>
          <div class="btn_s"><a href="#">＞＞詳細はコチラ</a></div>
        </div>
      </div>
      <div class="box02_right">
        <h3>新着情報<span>News</span></h3>
        <div class="dl_list">
          <dl>
            <dt>2011.09.16</dt>
            <dd><a href="#">○○ページを、更新しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.10.01</dt>
            <dd><a href="#">最新メニューを追加しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.09.16</dt>
            <dd><a href="#">○○ページを、更新しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.08.01</dt>
            <dd><a href="#">最新メニューを追加しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.07.16</dt>
            <dd><a href="#">○○ページを、更新しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.06.01</dt>
            <dd><a href="#">最新メニューを追加しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.05.16</dt>
            <dd><a href="#">○○ページを、更新しました。</a></dd>
          </dl>
          <dl>
            <dt>2011.05.01</dt>
            <dd><a href="#">ホームページがリニューアルオープンしました。</a></dd>
          </dl>
          <div class="btn_s"><a href="#">＞＞新着情報一覧はコチラ</a></div>
        </div>
      </div>
    </div>
    <!--/content end-->
    <!--side start-->
    <div id="side">
      <div class="side_box">
        <div class="side_btn"><a href="contact.html"><img src="../static/img/side_btn_df.gif" alt="お問い合わせ・ご予約はコチラ" width="210" height="64" /></a></div>
      </div>
      <h3>SITE MENU</h3>
      <div class="side_box">
        <div class="side_inbox">
          <ul>
            <li><a href=""{% url 'myapp:index' %}"">トップページ<br/>
              <span>HOME</span></a></li>
            <li><a href="menu.html">メニュー・料金<br />
              <span>Menu/Price</span></a></li>
            <li><a href="works.html">ギャラリー<br />
              <span>Gallery</span></a></li>
            <li><a href="staff.html">スタッフのご紹介<br />
              <span>Staff</span></a></li>
            <li><a href="shop.html">店舗のご案内<br />
              <span>Information</span></a></li>
            <li><a href="access.html">アクセスマップ<br />
              <span>Access</span></a></li>
            <li><a href="link.html">リンク集<br />
              <span>Link</span></a></li>
          </ul>
        </div>
      </div>
      <div class="side_box">
        <h3>NEWS</h3>
        <div class="side_inbox">
          <p><a href="#">最新メニューを追加しました！</a><span class="chui">NEW!</span></p>
          <p><a href="#">お得なキャンペーン実施中です！</a></p>
        </div>
        <div class="side_prbox">
<!--　削除禁止【ＰＲ枠】ここから　-->
<!--prno.130321ver2.01set017-->
Design by <a href="http://www.nc-mania.com/" target="_blank">nc-mania.com</a><br />
Template by <a href="http://www.s-hoshino.com/" target="_blank">s-hoshino.com</a>
<!--　/削除禁止【ＰＲ枠】ここまで　-->
        </div>
      </div>
    </div>
    <!--/side end-->
  </div>
  <!--/main end-->
  <!--foot start-->
  <div id="foot">
    <ul id="f_ul01">
      <li><a href="{% url 'myapp:index' %}">トップページ</a></li>
      <li><a href="{% url 'myapp:menu' %}">メニュー・料金</a></li>
      <li><a href="{% url 'myapp:works' %}">ギャラリー</a></li>
      <li><a href="{% url 'myapp:staff' %}">スタッフ紹介</a></li>
      <li><a href="{% url 'myapp:shop' %}">店舗案内</a></li>
      <li><a href="{% url 'myapp:access' %}">アクセスマップ</a></li>
      <li><a href="{% url 'myapp:link' %}">リンク集</a></li>
    </ul>
    <ul id="f_ul02">
      <li><a href="{% url 'myapp:contact' %}">ご予約・お問い合わせ</a></li>
      <li><a href="{% url 'myapp:recruit' %}">採用情報</a></li>
      <li><a href="{% url 'myapp:sitemap' %}">サイトマップ</a></li>
    </ul>
    <div id="f_logo">ROSE BLANCHE</div>
    <p>〒123-4567　見本県見本町1−2−34　サンプルビル5F<br />
      TEL:01-2345-6789 / FAX:01-2345-6789</p>
    <p>&nbsp;</p>
  </div>
  <!--/foot end-->
  <address>
  Copyright(C) かわいいHTMLテンプレート no.001 All Rights Reserved.
  </address>
</div>
<!--/base end-->
</body>
</html>
